<%- include("partials/header") -%>
<h1>Compose</h1>


<form action="/compose" method="post">

 <div class="form-group">
<label>Title</label>
</div>
<input name="postTitle" class="form-group" type="text" placeHolder="What's on your mind">
<div class="form-group">
<label>Post</label>
<textarea name="postBody" cols="150" rows="10" placeHolder="Write something"></textarea>
<button type="submit" name="button" class="btn btn-primary">Publish</button>
</div>


</form>

<%- include("partials/footer") -%>